{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    {% progressive_web_app_meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/definition.css' %}"/>
    {% block pagestyle %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/icon.css' %}"/>

    <title></title>
</head>
<body>
{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
{#  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>#}

<script>
    const goBack = () => {
        history.back()
    }
    const goProduct = (product_id) => {
        history.back()
    }
</script>
{% block extrascript %}
{% endblock %}
</body>
</html>
