<!DOCTYPE html>
<html lang="ko" style="height: 100%; background-color: black; overscroll-behavior: none">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ broadcast.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<!-- As a link -->
<!--
<div class="container-fluid p-0" style="height: 100vh !important; overscroll-behavior: none; overflow: hidden; background-color: black">
-->
<input hidden id="isConnected" value="false">
<div class="container-fluid p-0" style="overscroll-behavior: none; overflow: hidden; background-color: black">
    <div class="row">
        <div class="col-12">
            <div class="position-fixed" style="top: 0px; z-index: 99999; padding: 10px">
                <button type="button" class="btn btn-danger" id="stopCastBtn" hidden>송출종료</button>
                <button type="button" class="btn btn-secondary" id="changeMediaBtn" onclick="showMediaModal()">장치선택</button>
            </div>
            <video id="localVideo" autoplay muted style="width: 100vw !important;"></video>
            <div class="position-fixed text-center" style="bottom: 0px; z-index: 99999; padding: 10px">
                <span id="statusMsg" class="text-white">송출대기</span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediaModalLabel">장치 선택</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select class="form-control mb-1" id="videoInputSelector" name="videoInputSelector"></select>
                <select class="form-control" id="audioInputSelector" name="audioInputSelector"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" onclick="selectMedia()">송출시작</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@remotemonster/sdk/remon.min.js"></script>
<script>
    const broadcastId = '{{ broadcast.id }}'
    const channelId = '{{ broadcast.channel_id }}'
    const statusMsg = document.getElementById('statusMsg')
    const stopCastBtn = document.getElementById('stopCastBtn')
    const changeMediaBtn = document.getElementById('changeMediaBtn')
    const videoInputSelector = document.getElementById('videoInputSelector')
    const audioInputSelector = document.getElementById('audioInputSelector')
    let isConnect = false
    let currentVideo, currentAudio
    let videoInputList = []
    let audioInputList = []

    function getDevices(successCallback = null) {
        navigator.mediaDevices.getUserMedia({audio: true, video: true}).then(function (stream) {
            navigator.mediaDevices.enumerateDevices().then(function (devices) {
                videoInputList = []
                audioInputList = []
                for (let i = 0; i < devices.length; i++) {
                    let device = devices[i];
                    if (device.kind === 'videoinput') {
                        videoInput = {
                            value: device.deviceId,
                            text: device.label ? device.label : ("Device " + device.deviceId)
                        }
                        videoInputList.push(videoInput)
                    } else if (device.kind === 'audioinput') {
                        audioInput = {
                            value: device.deviceId,
                            text: device.label ? device.label : ("Device " + device.deviceId)
                        }
                        audioInputList.push(audioInput)
                    }
                }
                if (successCallback) {
                    successCallback(videoInputList, audioInputList)
                }
            })
        })
    }

    const remonConfig = {
        credential: {
            serviceId: '{{ remon_credential.serviceId }}',
            key: '{{ remon_credential.key }}'
        },
        media: {
            audio: {
                channelCount: 2,
                maxBandwidth: 128,
                autoGainControl: true,
                echoCancellation: true,
                noiseSuppression: true,
            },
            video: {
                facingMode: 'environment',
                width: {ideal: '2048'},
                aspectRatio: 3 / 2,
                codec: 'h264',
                minBandwidth: 7000,
                maxBandwidth: 7000
            }
        },
        view: {
            local: '#localVideo'
        }
    }

    const remonListener = {
        onCreate(channelId) {
            stopCastBtn.hidden = false
            statusMsg.innerText = '송출중입니다'
            isConnect = true
            $('#mediaModal').modal('hide')
        },
        onStat(report) {
            console.log(report)
            //statusMsg.innerText = `송출상태 ${JSON.stringify(report)}`
            var statusStringList = ["매우좋음", "좋음", "나쁨", "매우 나쁨", "방송 불능"]
            var statusString = statusStringList[report.rating + 1]
            statusMsg.innerText = `송출상태 ${report.rating}`
        },
        onError(error) {
            alert(error)
        }
    }

    function startCast() {
        const caster = new Remon({
            listener: remonListener,
            config: remonConfig
        })
        caster.createCast(channelId)
    }

    function showMediaModal() {
        getDevices(successCallback=function (videoInputList, audioInputList) {
            videoInputSelector.innerHTML = ''
            audioInputSelector.innerHTML = ''
            videoInputList.forEach(function (elem) {
                var option = document.createElement('option')
                option.value = elem.value
                option.innerText = elem.text
                if (elem.value === currentVideo) {
                    option.selected = true
                }
                videoInputSelector.appendChild(option)
            })
            audioInputList.forEach(function (elem) {
                var option = document.createElement('option')
                option.value = elem.value
                option.innerText = elem.text
                if (elem.value === currentAudio) {
                    option.selected = true
                }
                audioInputSelector.appendChild(option)
            })
            $('#mediaModal').modal('show')
        })
    }

    function selectMedia() {
        if (isConnect === false) {
            remonConfig.media.video.deviceId = videoInputSelector.value
            remonConfig.media.audio.deviceId = audioInputSelector.value
            startCast()
        }
    }

    document.addEventListener('DOMContentLoaded', function (event) {
    })

</script>

</body>
</html>
