{% extends 'customer_base.html' %}
{% block title %}{{ broadcast.title }}{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-12">
            <div class="position-fixed" style="top: 0px; z-index: 99999; padding: 10px">
                <button class="btn btn-primary" type="button" onclick="toPip()" id="pipButton">PIP 테스트</button>
            </div>
            <video id="remoteVideo" autoplay playsinline muted style="width: 100% !important;"
                   poster="https://via.placeholder.com/2048x3481.png?text=Waiting..."></video>
            <div class="position-fixed text-center" style="bottom: 0px; z-index: 99999; padding: 10px">
                {#                <span id="statusMsg" class="text-white">송출대기</span>#}
            </div>
        </div>
    </div>
{% endblock %}
{% block extrascript %}
    <script src="https://cdn.jsdelivr.net/npm/@remotemonster/sdk/remon.min.js"></script>
    <script>
        const broadcastId = '{{ broadcast.id }}'
        const channelId = '{{ broadcast.channel_id }}'
        const remoteVideo = document.getElementById('remoteVideo')
        const pipButton = document.getElementById('pipButton')
        let isConnect = false
        var viewer

        const remonConfig = {
            credential: {
                serviceId: '{{ remon_credential.serviceId }}',
                key: '{{ remon_credential.key }}'
            },
            media: {
                recvonly: true
            },
            view: {
                remote: '#remoteVideo'
            }
        }

        const remonListener = {
            onJoin() {
                // alert('입장')
            },
            onError(error) {
                console.log(error)
            }
        }

        function joinCast() {
            viewer = new Remon({
                listener: remonListener,
                config: remonConfig
            })
            viewer.joinCast(channelId)
        }

        document.addEventListener('DOMContentLoaded', function () {
            joinCast()
        })

        async function toPip() {
            pipButton.disabled = true
            await remoteVideo.requestPictureInPicture()
            pipButton.disabled = false
        }
    </script>

{% endblock %}
