{% extends 'affiliate/base.html' %}

{% block body_extra %}{% endblock %}

{% block content %}

    <!-- Start Content-->
    <div class="container-fluid">

    <!-- Start Content-->
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                        </ol>
                    </div>
                    <h4 class="page-title">No Permission</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <span>권한이 없습니다. 시스템 운영자에게 문의하세요.</span>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
    </div>
    <!-- container -->
{% endblock %}
