{% extends 'customer_base.html' %}
{% block title %}라방!{% endblock %}
{% load static %}

{% block extrastyle %}
    <style>
        .playIcon path {
            -webkit-transition: all 0.5s; /* Safari */
            transition: all 0.5s;
        }

        .playIcon:hover path {
            fill: #00B9EF;
        }

        .btn-rabang {
            padding: 8px 16px 8px 16px;
            border-radius: 4px;
            background-color: #ee3050;
            color: white;
        }
    </style>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-transparent bg-transparent position-absolute w-100" style="z-index: 99999">
                <a class="navbar-brand" href="#">
                    <svg id="Group_19" data-name="Group 19" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" width="79.949" height="26.747"
                         viewBox="0 0 79.949 26.747">
                        <defs>
                            <clipPath id="clip-path">
                                <path id="Clip_2" data-name="Clip 2" d="M0,0H16.371V16.312H0Z" fill="none"/>
                            </clipPath>
                            <clipPath id="clip-path-2">
                                <path id="Clip_17" data-name="Clip 17" d="M0,0H15.261V18.72H0Z" fill="none"/>
                            </clipPath>
                        </defs>
                        <g id="Group_3" data-name="Group 3" transform="translate(63.578 10.434)">
                            <path id="Clip_2-2" data-name="Clip 2" d="M0,0H16.371V16.312H0Z" transform="translate(0 0)"
                                  fill="none"/>
                            <g id="Group_3-2" data-name="Group 3" transform="translate(0 0)"
                               clip-path="url(#clip-path)">
                                <path id="Fill_1" data-name="Fill 1"
                                      d="M8.186,16.313a8.156,8.156,0,1,1,8.185-8.156A8.18,8.18,0,0,1,8.186,16.313Zm0-11.766a3.609,3.609,0,1,0,3.622,3.609A3.62,3.62,0,0,0,8.186,4.547Z"
                                      transform="translate(0 0)" fill="#fff"/>
                            </g>
                        </g>
                        <path id="Combined_Shape" data-name="Combined Shape"
                              d="M8.205,18.72a8.21,8.21,0,0,1-7.56-4.993A8.1,8.1,0,0,1,0,10.544V0H5.157V4.695h6.1V0H16.41V10.544A8.189,8.189,0,0,1,11.4,18.078,8.179,8.179,0,0,1,8.205,18.72Zm0-11.228a3.411,3.411,0,1,0,2.417,1A3.4,3.4,0,0,0,8.205,7.492Z"
                              transform="translate(32.711 7.886)" fill="#fff"/>
                        <path id="Fill_8" data-name="Fill 8"
                              d="M2.246,1.119A1.123,1.123,0,1,1,1.124,0,1.121,1.121,0,0,1,2.246,1.119"
                              transform="translate(38.669 16.545)" fill="#fff"/>
                        <path id="Fill_10" data-name="Fill 10" d="M6.176,8.944H1.613L0,0H7.789Z"
                              transform="translate(67.869)" fill="#ff8f1c"/>
                        <path id="Fill_12" data-name="Fill 12" d="M5.047,0H0V19.594H5.047v-7.44H9.832V7.545H5.047Z"
                              transform="translate(19.536 4.295)" fill="#fff"/>
                        <path id="Fill_14" data-name="Fill 14" d="M5.047,0H0V19.594H5.047v-7.44H9.832V7.545H5.047Z"
                              transform="translate(52.76 4.295)" fill="#fff"/>
                        <g id="Group_18" data-name="Group 18" transform="translate(0 7.886)">
                            <path id="Clip_17-2" data-name="Clip 17" d="M0,0H15.261V18.72H0Z" transform="translate(0 0)"
                                  fill="none"/>
                            <g id="Group_18-2" data-name="Group 18" transform="translate(0 0)"
                               clip-path="url(#clip-path-2)">
                                <path id="Fill_16" data-name="Fill 16"
                                      d="M15.187,18.72H0V7.087H10.7V4.547H.037V0H15.261V11.633H4.563v2.54H15.187Z"
                                      transform="translate(0)" fill="#fff"/>
                            </g>
                        </g>
                    </svg>

                </a>
            </nav>
            {#            <video id="liveBroadCast" muted playsinline autoplay style="width: 100% !important;"#}
            {#                   poster="https://via.placeholder.com/2048x3481.png?text=Waiting..."></video>#}
            <video id="liveBroadCast" muted autoplay loop playsinline
                   style="width: 100% !important; height: 140vw; max-height: 1000px; object-fit: cover; z-index: 8000"
                   poster="">
            </video>
            <!--
            <video id="liveBroadCast" muted autoplay loop playsinline
                   style="width: 100% !important; height: 140vw; max-height: 1000px; object-fit: cover; z-index: 8000"
                   src="{% static 'Screen_Recording_20201213-185130_Grip.mp4' %}"
                   poster="https://via.placeholder.com/2048x3481.png?text=Waiting...">
            </video>
            -->
            <div class="videoOverlay text-center"
                 style="position: absolute; top: 0; left: 0;width: 100% !important; height: 140vw; max-height: 1000px; background: rgb(50,50,50); background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 2%, rgba(255,255,255,0) 100%); z-index: 9000;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30.212" class="playIcon" id="playIcon" height="30.357"
                     style="position: relative; top:50%"
                     viewBox="0 0 30.212 35.357">
                    <path id="Triangle"
                          d="M17.434,4.233a3,3,0,0,1,5.131,0L37.239,28.445A3,3,0,0,1,34.674,33H5.326a3,3,0,0,1-2.566-4.555Z"
                          transform="translate(33 -2.321) rotate(90)" fill="#fff"/>
                </svg>
                <div class="w-100 text-center" style="position: absolute; bottom: 0px">
                    <div class="pl-5 pr-5 mt-3 mb-3">
                        <span style="font-size: 32px; font-weight: bolder; color: white; line-height: 32px">아디다스 덕 다운 패딩 1+1</span>
                    </div>
                    <div>
                        <button type="button" class="btn btn-rabang text-bolder">지금 구매하기</button>
                    </div>
                </div>
            </div>
            <div class="pl-3 pr-3 mb-0 mt-4">
                <span style="color: #ee3050; font-size: 18px; font-weight: bold">라이브 편성표</span>
            </div>
            <div class="mb-5">
                <div class="pl-3 pr-3 mb-2">
                    <span style="color: #fbfbfc; font-size: 18px; font-weight: bold">12.10 목 <span
                            class="badge badge-pill badge-warning">13:30</span></span>
                </div>
                <div class="p-0">
                    <img src="{% static '썸네일_550-1.jpg' %}" class="w-100">
                </div>
                <div class="pl-3 pr-3">
                    <div class="pr-3 mt-3">
                        <span style="color: #fbfbfc; font-size: 18px; font-weight: bold">코트야드 메리어트 서울 보타닉 파크 1박권 + 조식 2매</span>
                        <p style="color: #fbfbfc;  font-size: 16px; font-weight: normal">할인가 129,000원 <span
                                style="color: #646464; font-size: 16px; text-decoration:line-through">159,000원</span>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="pl-3 pr-3 mb-2">
                    <span style="color: #fbfbfc; font-size: 18px; font-weight: bold">12.10 목 <span
                            class="badge badge-pill badge-warning">11:30</span></span>
                </div>
                <div class="p-0">
                    <img src="{% static '양양더앤리조트_썸네일.jpg' %}" class="w-100">
                </div>
                <div class="pl-3 pr-3">
                    <div class="pr-3 mt-3">
                        <span style="color: #fbfbfc; font-size: 18px; font-weight: bold">양양 더앤 리조트 숙박권</span>
                        <p style="color: #fbfbfc;  font-size: 16px; font-weight: normal">할인가 109,000원 <span style="color: #646464; font-size: 16px;
text-decoration:line-through">159,000원</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrascript %}
    <script src="https://cdn.jsdelivr.net/npm/@remotemonster/sdk/remon.min.js"></script>
    <script>
        const liveBroadCast = document.getElementById('liveBroadCast')
        const playIcon = document.getElementById('playIcon')
        var viewer
        let remonConfig = {
            media: {
                recvonly: true
            },
            view: {
                remote: '#liveBroadCast'
            }
        }
        var liveChannelId
        let liveChannelConnect = false

        const remonListener = {
            onJoin() {
                liveChannelConnect = true
                playIcon.hidden = true
            },
            onError(error) {
                console.log(error)
            },
            onClose() {
                playIcon.hidden = false
            }
        }

        function getRemonCredential(successCallback, errorCallback) {
            $.ajax({
                type: "GET",
                url: "{% url 'broadcast_api:remon' %}",
                dataType: "json",
                success: function (response) {
                    remonConfig.credential = response
                    successCallback()
                },
                error: function (request, status, error) {
                    alert('네트워크 오류')
                },
            });
        }

        function patchLiveVideo(successCallback, errorCallback) {
            $.ajax({
                type: "GET",
                url: "{% url 'broadcast_api:live' %}",
                dataType: "json",
                success: function (response) {
                    if (response.result) {
                        console.log(response)
                        liveBroadCast.poster = response.broadcast.thumbnail
                        liveChannelId = response.broadcast.channel
                        successCallback()
                    } else {

                    }
                },
                error: function (request, status, error) {
                    alert('네트워크 오류')
                },
            });
        }

        function showLiveChannel() {
            getRemonCredential(function () {
                patchLiveVideo(
                    function () {
                        viewer = new Remon({
                            listener: remonListener,
                            config: remonConfig
                        })
                        viewer.joinCast(liveChannelId)
                        //liveBroadCast.play()
                    }
                )
            })
        }

        document.addEventListener('DOMContentLoaded', function (event) {
            {#liveBroadCast.play()#}
            showLiveChannel()
        })
    </script>
{% endblock %}
